.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 85px;
    background-color: white;
    z-index: 11;
    padding-top: 5px;
    transition: width 0.3s ease;
}

.sidebar-link{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-size: 11px;
}

@media only screen and (min-width: 1200px){
    .sidebar{
        width: 200px;
        padding-top: 20px;
    }

    .sidebar-link{
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
    }

    .sidebar-link img{
        height: 30px;
        margin-right: 10px;
    }

    .sidebar-link div{
        font-size: 14px;
    }
}
